.logo {
 width: 150px;
}

.flex {
 display: flex;
}

.flex.space-between {
 justify-content: space-between;
}

.flex.align-center {
 align-items: center;
}
.flex.space-evenly{
 justify-content: space-evenly;
}
.flex.justify-center {
 justify-content: center;
}

.clean-list {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

.hidden {
 display: none;
}

.show {
 display: border-box;
 padding-top: 2rem;
}

.show-emoji {
 display: border-box;
}

.add-space-right {
 padding-right: 20px;
}